<%- include('boilerplate/header') %>
<nav class="navbar navbar-expand-lg navbar-dark navbarColor">

  <div class="container">
  <a class="navbar-brand" href="#">ATUL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/secretuser">User Portal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/secretvendor">Vendor Portal</a>
      </li>
    </ul>
    <% if(isloggedIn){ %>
      <form class="d-flex ms-auto order-5">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
       </form>
     <%} else{ %>
       <form class="d-flex ms-auto order-5">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item">
             <a class="nav-link" href="/login">Login</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/signup">Sign Up</a>
           </li>
         </ul>
        </form>
       <%  }%>
  </div>
</div>
</nav>

<div id='map' class="mapBoxMap" >

</div>

<%- include('boilerplate/footer') %>
