<%- include('../boilerplate/header') %>

<nav class="navbar navbar-expand-lg navbar-dark navbarColor">

  <div class="container">
  <a class="navbar-brand" href="#">ATUL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <% if(isloggedIn){ %>
      <form class="d-flex ms-auto order-5">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
       </form>
     <%} else{ %>
       <form class="d-flex ms-auto order-5">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item">
             <a class="nav-link" href="/login">Login</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/signup">Sign Up</a>
           </li>
         </ul>
        </form>
       <%  }%>
  </div>
</div>
</nav>


<div class="container">

<form action="/signupvendor" method="POST">
  <div class="form-group">
    <label for="fornameinput">Name</label>
    <input type="text" class="form-control" id="fornameinput" aria-describedby="textHelp" Name="name" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="fornamephone">Phone Number</label>
    <input type="text" class="form-control" id="fornamephone" aria-describedby="phonehelp" Name="phoneno" placeholder="Enter Phone Number">
  </div>
  <div class="form-group">
    <label for="fornameimage">Image</label>
    <input type="text" class="form-control" id="fornameinput" aria-describedby="textHelp" Name="image" placeholder="Paste Image URL">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" Name="password" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<%- include('../boilerplate/footer') %>
